* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
#body {
    margin: 2rem;
    font-family: sans-serif;
    background-color: #222;
}
.container {
    margin-top: 2rem;
    /* border: 1px  blue solid; */
}
.genel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    border: 3.2px solid blue;
    border-radius: 3px;
    padding: 0.5rem;
    color: rgb(156, 133, 153);
}
img {
    width: 250px;
    height: 135px;
    border-radius: .3rem;
    margin: 0 auto;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    width: 60%;
}